 /*font styel*/
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 *{
    box-sizing: border-box;
    margin: 0;
    padding:0;

 }
 body{
    font-family: "Open Sans", sans-serif;
 }
/*banner styel*/
.banner{
    max-width: 2100px;
    height:650px ;
    
    border-radius: none;
    background-image: url(../assets/Hero-bg.png);
    
}
.banner-text-container{
    margin: 13px 234px 58px 208px;
    width: 1500px;

    
    height:579px;}
    
.h-1{
    text-align: center;
    padding: 20px;
    
}
/*shared button*/
.btn{
    justify-content: center;
    margin:180px 660px 0 620px ;
    background-color:#0D1321;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    height: 45px;
    width: 240px;}
/*banner image*/
.banner-image{
    margin:0 660px 0 620px ;
  
}
.head{
    margin-bottom: 20px;
}
/*main*/
.main-container{
    margin: 0 90px 0 90px;}
.frame{
    width: 1850px;
    height:1393px ;
    /* border:2px solid blue; */


}
.sub-frame{
    width:1656px;
    height: 1233px;
    /* border: 2px solid green; */
    margin:80px 30px 50px 100px;
    background-color: #FFFFFF #ADC8F7 #070159;

}
.why-dv{
    width:852px;
    height: 150px;
    /* border: 2px solid black; */
    margin:0 400px;
    margin-bottom: 10px;
}
/*layer one*/
.main-section-container{

    width: 1654px;
    height:336px ;
   /* border: 2px solid green;*/
    background-color: white;
}
.main-section-container-2{

    width: 1450px;
    height:300px ;
   /* border: 2px solid green;*/
    margin: 20px 30px 50px 100px;
    display: flex;
}
.main-text-container{
    width: 60%;
    height: 300px;
   /* border: 2px solid lightseagreen;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.main-image-container{
    width: 60%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 2px solid firebrick;*/

}



/*shared btn*/
.main-text-container button{

    margin-right:640px ;
    margin-top: 71px;
    width:171px ;
    height:47px ;
    border-color: black;
    color: black;
    background-color: #FFFFFF;
}
/*layer two*/
.main-section-container{

    width: 1654px;
    height:336px ;
  /* border: 2px solid green;*/
    background-color: white;
}
.main-section-container-2{

    width: 1450px;
    height:300px ;
   /*border: 2px solid green;*/
    margin: 20px 30px 50px 100px;
    display: flex;
}
.main-text-container{
    width: 60%;
    height: 300px;
   /*border: 2px solid lightseagreen;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.main-image-container{
    width: 60%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid firebrick;*/

}



/*shared btn*/
.main-text-container button{

    margin-right:640px ;
    margin-top: 71px;
    width:171px ;
    height:47px ;
    border-color: black;
    color: black;
    background-color: #FFFFFF;
}
/*layer three*/
.main-section-container{

    width: 1654px;
    height:336px ;
  /* border: 2px solid green; */
    background-color: white;
}
.main-section-container-2{

    width: 1450px;
    height:300px ;
   /* border: 2px solid green; */
    margin: 20px 30px 50px 100px;
    display: flex;
}
.main-text-container{
    width: 60%;
    height: 300px;
   /* border: 2px solid lightseagreen; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.main-image-container{
    width: 60%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid firebrick;*/
    margin-bottom: 10px;

}


/*main part 2*/

.text-container{
    width:1656px;
    height: 150px;
    /* border: 2px solid black; */
    margin:80px 20px 50px 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sub-frame-2{
    width:1656px;
    height: 1200px;
    /* border: 2px solid green;  */
    margin:80px 20px 50px 100px;
 /* background-color: #FFFFFF #ADC8F7 #070159; */
}
.video-container{
    width:1656px;
    height: 800px;
     /* border: 2px solid black;  */
    margin:80px 20px 50px 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;




}
/* footer */
.back{
    width: 1656px;
    height: 700px;
    border: 2px solid blue;  
    margin:80px 20px 50px 200px;
    background-image: url(../assets/handshake.jpg);
}
.background{
    width: 1652px;
    height: 700px;
    margin:250px 100px 60px 0px; 
}
.text-background
{
    
     /* border: 2px solid lightcoral;  */
    margin:50px 100px 60px 80px ;
     text-align: center;
     padding: 20px;
     color: #FFFFFF;
     font-size: medium;
    
    
    
}

.btn-1{
    width: 350px;
    height: 40px;
    color: #0D1321;
}
.btn-2{
    width: 130px;
    height: 40px;
    color: #0D1321;
    margin: 10px;
}



.footer-section-container{

    width: 2100px;
    height:70px ;
    /* border: 2px solid green; */
    background-color: white;
}
.footer-section-container-2{

    width: 2100px;
    height:60px ;
    /* border: 2px solid green; */
    margin: 20px 30px 50px 100px;
    display: flex;
}
.footer-text-container{
    width: 60%;
    height: 40px;
    /* border: 2px solid lightseagreen; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.footer-image-container{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 2px solid firebrick; */
   justify-content: space-between;
}

















